body {
  font-family: 'DM Mono', monospace;
  background-color: rgb(0, 0, 10);
  margin: 2%;
}

.Header {
  color: #a8ff8e;
  padding: 1%;
  margin: 5%;
  width: 70%;

  display: inline-block;
}

.MainContent {
  color: #ea483a;
  margin: 5%;
  padding: 1%;
}

.Footer {
  color: #eeee64;
  margin: 5%;
  padding: 1%;
  text-align: center;
  
}

.margin {
  border: 10px solid #feb8f7; 
  border-radius: 10%;
  background: black;
  border-style: ridge;
}

.square {
  background-color:#00cafa;
  width:2em;
  height:2em;
  border-style: dotted;
  border-radius: 10%;
  display: inline-block;
  -webkit-animation:rescale 2s infinite;
  animation: rescale 2s infinite;
}

@-webkit-keyframes rescale{
  0% {transform:rotate(0deg);}
  10% {transform:rotate(36deg);}
  20% {transform:rotate(72deg);}
  30% {transform:rotate(108deg);}
  40% {transform:rotate(144deg);}
  50% {transform:rotate(180deg);}
  60% {transform:rotate(216deg);}
  70% {transform:rotate(252deg);}
  80% {transform:rotate(288deg);}
  90% {transform:rotate(334deg);}
  100% {transform:rotate(360deg);}
}

@keyframes rescale{
  0% {transform:rotate(0deg);}
  10% {transform:rotate(36deg);}
  20% {transform:rotate(72deg);}
  30% {transform:rotate(108deg);}
  40% {transform:rotate(144deg);}
  50% {transform:rotate(180deg);}
  60% {transform:rotate(216deg);}
  70% {transform:rotate(252deg);}
  80% {transform:rotate(288deg);}
  90% {transform:rotate(334deg);}
  100% {transform:rotate(360deg);}
}